{{ $term := .page }}
{{ $taxonomy := .parent }}
{{ $depictionType := default "depiction" (index $taxonomy.Params "term" "depiction_type") }}
{{ $depictions := $term.Resources.Match (print $depictionType ".*") }}
{{ $hasDepiction := gt (len $depictions) 0 }}
{{ $personDisplay := default "Contributors" (index $taxonomy.Params "term" "person_display") }}

<article
  class="{{$term.Data.Singular }} px-3 mb-6 border rounded-md border-neutral-200 dark:border-neutral-700"
  data-kind='{{ if $term.Params.kind}}{{ $term.Params.kind }}{{ else }}unknown{{ end }}'
  data-year="{{ if $term.Params.date }}{{ substr $term.Params.date 0 4 }}{{ else }}unknown{{ end }}"
  data-topic='{{ $term.Params.topic | jsonify }}'
  data-author='{{ $term.Params.author | jsonify }}'
  data-title="{{ $term.Title | lower }}"
>
  <table class="w-full m-0">
    <tr>
      <td class="align-middle">
        <h3 class="text-xl font-semibold text-neutral-900 dark:text-neutral-100" style="margin-top: 0;">
          <a href="{{ $term.RelPermalink }}" style="text-decoration: unset;">
            {{ $term.Title }}
          </a>
          {{ if $term.Params.date }}
            {{ $year := substr $term.Params.date 0 4 }}
            <span class="text-neutral-500 text-base font-normal">
              ({{ $year }})
            </span>
          {{ end }}
          {{ partial "term-heading-kind.html" (dict
            "term" $term
            "size" "sm"
          ) }}
          {{ partial "term-heading-identifiers.html" (dict
            "term" $term
            "size" "base"
          ) }}
          {{ partial "term-heading-links.html" (dict
            "term" $term
            "size" "base"
          ) }}
        </h3>
        {{ partial "term-info-related-terms.html" (dict
          "term" $term
          "taxonomy" "persons"
          "display" $personDisplay
        ) }}
        {{ partial "term-info-related-terms.html" (dict
          "term" $term
          "taxonomy" "topics"
          "display" "Topics"
        ) }}
        {{ partial "term-info-licenses.html" $term }}
      </td>
      {{ if $hasDepiction }}
        <td width="20%" class="align-middle text-center border-l-1 border-neutral-200 dark:border-neutral-700">
          {{ with index $depictions 0 }}
            <img
              src="{{ .RelPermalink }}"
              alt="depiction of instrument"
              style="width: 300px; height: 300px; object-fit: cover; object-position: center; margin: 0 auto;"
            >
          {{ end }}
        </td>
      {{ end }}
    </tr>
  </table>
</article>
