{% macro metadata_footer() -%}
<hr>

<small>Metadata record: `{{ pid }}` · deterministic fingerprint `{{ metadata_fingerprint }}`</small>
{%- endmacro %}
---
title: {{ page_title | toyaml | replace('...\n','') | trim }}
params:
  metadataPID: {{ pid | toyaml | replace('...\n','') | trim }}
  metadataSchemaType: {{ schema_type | toyaml | replace('...\n','') | trim }}
  metadataFingerprint: {{ metadata_fingerprint }}
{% block frontmatter -%}
{% endblock frontmatter -%}
---

{% block content -%}
{% endblock content -%}
