{% extends "page.md.j2" %}

{% block content -%}
{{ depiction_shortcode }}

{{ description }}

{% if x_projects %}
## Connected projects

{% for project in x_projects %}
- [{{ project.label }}]({{ project.href }})
{% endfor %}
{% endif %}

{{ metadata_footer() }}
{% endblock content -%}
